# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
battleship
server
tests
client

# Other
# Makefile
gameclientlog.txt
test.cc
gen_board.hh
*/*.json
vcpkg
_deps
CMakeFiles
CMakeCache.txt
*.db
*.bat
windows
build
lib/usr
lib/etc
lib/var

*.deb

users.db

# Build folder
build/*
!build/linux


# log files
gameclientlog.txt
*.log
*.txt

# TeXLive compilation files
# *.log
*.aux
*.toc

# Visual Studio Code
.vscode
.cache
**.code-workspace