# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
battleship

# Other
Makefile
test.cc
gen_board.hh
*/*.json
vcpkg
_deps
CMakeFiles
CMakeCache.txt
*.db
*.bat
windows
build

users.db

# Build folder
build/*
!build/linux


# TeXLive compilation files
# *.log
*.aux
*.toc
.vscode